body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.blob-header {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cfilter id='blur-filter'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='5' /%3E%3C/filter%3E%3C/defs%3E%3Cpath fill='%23A7F0BA' d='M29.4,27.9C19.5,34.3,-20.2,34.4,-30,28.1C-39.9,21.8,-20,9,-0.1,9C19.7,8.9,39.4,21.5,29.4,27.9Z' transform='translate(100 100)' filter='url(%23blur-filter)' /%3E%3C/svg%3E%0A");
  background-position: 50% 60%;
  background-size: 175vw 200vh;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  opacity: 0.4;
}

.blob-c {
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  filter: blur(40px);
}

.shape-blob {
  background: #b9d8ec;
  height: 360px;
  width: 280px;
  border-radius: 40% 50% 30% 40%;
  animation: transform 18s ease-in-out infinite both alternate, movement_one 20s ease-in-out infinite both;
  opacity: 0.6;
  position: absolute;
  left: 75%;
  top: 40%;
}

.shape-blob.one {
  background: hsl(210, 100%, 83%);
  height: 425px;
  width: 500px;
  left: calc(40% - 250px);
  top: calc(50% - 212px);
  transform: rotate(-180deg);
  animation: transform 15s ease-in-out infinite both alternate, movement_one 20s ease-in-out infinite both;
}

.shape-blob.two {
  background: #9ceb9c;
  height: 350px;
  width: 450px;
  left: calc(70% - 325px);
  top: calc(50% - 325px);
  transform: rotate(-180deg);
  animation: transform 10s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
}

.shape-blob.three {
  background: #c8fbc8;
  height: 350px;
  width: 450px;
  left: 1100px;
  top: 530px;
  transform: rotate(-180deg);
  animation: transform 40s ease-in-out infinite both alternate, movement_two 15s ease-in-out infinite both;
}

.shape-blob.four {
  background: #c6ffc6;
  height: 400px;
  width: 500px;
  left: 30px;
  top: 160px;
  transform: rotate(-180deg);
  animation: transform 10s ease-in-out infinite both alternate, movement_two 5s ease-in-out infinite both;
}

.shape-blob.five {
  background: hsl(210, 89%, 86%);
  height: 450px;
  width: 400px;
  left: 350px;
  top: 30px;
  transform: rotate(-180deg);
  animation: transform 10s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
}

.shape-blob.six {
  background: hsl(210, 89%, 86%);
  height: 300px;
  width: 730px;
  left: 960px;
  top: 10px;
  transform: rotate(-180deg);
  animation: transform 15s ease-in-out infinite both alternate, movement_ 10s ease-in-out infinite both;
}

.shape-blob.seven {
  background: hsl(210, 94%, 87%);
  height: 200px;
  width: 530px;
  left: 660px;
  top: 50px;
  transform: rotate(-180deg);
  animation: transform 10s ease-in-out infinite both alternate, movement_one 10s ease-in-out infinite both;
}

.shape-blob.eight {
  background: hsl(210, 100%, 83%);
  height: 300px;
  width: 430px;
  left: calc(40% - 215px);
  top: 10%;
  transform: rotate(-180deg);
  animation: blob-movement-one 13s ease-in-out infinite both;
}

.shape-blob.nine {
  background: #9ceb9c;
  height: 300px;
  width: 430px;
  left: calc(70% - 215px);
  top: 10%;
  transform: rotate(-180deg);
  animation: blob-movement-two 10s ease-in-out infinite both;
}

.shape-blob.rush-static-green {
  background: #c6ffc6;
  height: 420;
  width: 460;
  left: calc(70% - 215px);
  top: -20%;
  transform: rotate(-180deg);
}

.shape-blob.rush-static-blue {
  background: hsl(210, 100%, 83%);
  height: 450;
  width: 390;
  left: calc(70% - 20px);
  top: -20%;
  transform: rotate(-180deg);
}

@keyframes transform {

  0%,
  100% {
    border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%;
  }

  20% {
    border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%;
  }

  40% {
    border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%;
  }

  60% {
    border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%;
  }

  80% {
    border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%;
  }
}

@keyframes movement_one {

  0%,
  100% {
    transform: none;
  }

  50% {
    transform: translate(40%, 20%) rotateY(10deg) scale(0.8);
  }
}

@keyframes movement_two {

  0%,
  500% {
    transform: none;
  }

  50% {
    transform: translate(-50%, 20%) rotate(-200deg) scale(1.3);
  }
}

@keyframes blob-movement-one {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: translate(-50%, 0);
  }
}

@keyframes blob-movement-two {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: translate(-50%, 20%);
  }
}